section{
    background-image: url('https://images.pexels.com/photos/459728/pexels-photo-459728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }