<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
              <div class="mb-md-5 mt-md-4 pb-5">  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-black-50 mb-1">Please enter your login and password!</p>
                <form [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
                  <div class=" form-outline form-white mb-4">
                    <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
                    <label class="form-label mb-2" for="typeEmailX">Email</label>
                    <div class="form-text text-danger" *ngIf="email.errors?.['required'] && ( email.dirty ||email.touched  )"> 
                      Email is Required
                    </div>
                    <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.dirty ||email.touched)"> 
                      Email is Invalid
                    </div>
                  </div>  
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                    <label class="form-label" for="typePasswordX">Password</label>
                    <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.touched ||password.dirty)"> 
                      Password is Required
                    </div>
                    <div class="form-text text-danger" *ngIf="password.errors?.['pattern'] && (password.touched ||password.dirty)"> 
                      Password is Not valid
                    </div>
                  </div>
                  <!-- <p class="small mb-1 pb-lg-2"><a class="text-white-20" href="#!">Forgot password?</a></p> -->
                  <button class="btn btn-outline-dark btn-lg px-5" type="submit" [disabled]="loginForm.invalid">Login</button>
                </form>  
              </div>  
              <div>
                <p class="mb-0">Don't have an account? 
                  <a href="http://localhost:4200/Register" class="text-black-50 fw-bold">Sign Up</a>
                </p>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>